#section1 {
    background-color: #01579B;
    height: 100vh;
    display: flex;
}
#section1 img{
    padding-left: 15vh;
    margin-top: -20vh
}
#section1 h1{
    position: absolute;

    padding-left: 110vh;
    margin-top: 25vh;
    color: #fafafa;
    font-family: 'Cabin Sketch';
    font-weight: bold;
    font-size: 42px;
    font-style: italic;

}
#section1 h2{
    position: relative;
    padding-left: 10vh;
    margin-top: 35vh;
    color: #fafafa;
    font-family: 'Arvo';
    font-weight: bold;
    font-size: 20px;
}
#section2 {
    height: 200vh;
}
#section3 {
    background-color: #01579B;
    height: 35vh;
}